body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: "titleFont";
  src: url("../public/fonts/Raw.ttf") format("truetype");

}

.homepage {
  background-color: black;
  position: relative;
  height: 100vh;
  width: 100%;
  font-family: sans-serif;
  color: rgb(255, 238, 3);
  overflow: hidden;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('../public/band.jpg'); /* Replace with your actual image path */
  background-size: cover;
  background-position: center;
  opacity: 0.7;
  z-index: 1;
}

.overlay {
  position: relative;
  z-index: 2;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  font-size: 14px;
}

.nav-left a,
.nav-right a,
.nav-center {
  margin: 0 10px;
  color: white;
  text-decoration: none;
}

.nav-left a.active {
  border-bottom: 1px solid white;
}

.hero {
  font-size: 10rem;;
  font-family: "titleFont";
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.8);
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.hero h1 {
  font-family: "titleFont";
  font-size: 10rem;
  margin: 0;
}

.hero p {
  margin-top: 20px;
  font-size: 1.2rem;
}

.contact-button {
  border-radius: 100px;
  padding: 10px;
  border: 2.5px solid rgb(246, 246, 5);
  position: absolute;
  align-content: center;
  align-self: center;
  align-items: center;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  bottom: 150px;

}

.contact {
color: rgb(239, 239, 2);
  text-decoration: none;
    align-content: center;
  align-self: center;
  align-items: center;
  text-align: center;
  font-weight: bold;

}
